#contact{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #FAF4C0;
    padding-bottom: 30px;
}
#contact > h2{
    font-size: 48px;
    text-align: center;
    padding-top: 30px;
}
.contacts{
    display: flex;
    justify-content: center;
    padding: 15px 0;
    font-size: 20px;
}
.contacts__email{
    text-align: center;
    width: 240px;
}
.contacts__phone{
    text-align: center;
    width: 240px;
    padding-left: 30px;
}
footer > p{
    font-size: 20px;
    text-align: center;
}