#port > h2{
    font-size: 48px;
    text-align: center;
    padding-top: 30px;
}
.port{
    position: relative;
    height: 600px;
}
.single-items{
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.item{
    display: flex;
    justify-content: center;
    align-items: center;
}
.active{
    height: 400px;
    width: 800px;
}
ul[class="stepper"]{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul[class="stepper"] > li{
    display: inline-block;
    margin: 0 5px;
    padding-top: 100px;
}
.active-step{
    color:skyblue;
}
button, button:active, button:focus{
    position: absolute;
    top: 32%;
    transform: translate(0, -50%);
    width: 50px; 
    height: 30px;
    border: none; 
    background-color: transparent;
    color: black;
    outline: none;
}
button:hover{
    color: skyblue;
}
button:disabled{
    color: gray;
}
.prev{
    left: 350px;
}
.next{
    right: 350px;
}
.tumb{
    padding-top: 60px;
}
.tumb > a > img{
    width: 550px; 
    height: 360px;
}
.tumb > a > .text {
    position: absolute;
    top: 8%;
    width: 550px;
    height: 361px;
    opacity: 0;
    transition: .5s ease;
    background-color: #f3f3f3;
}
.tumb:hover .text{
    opacity: 1;
}
.text .tumb-title {
    font-size: 32px;
    margin-top: 100px;
    text-align: center;
    letter-spacing: 1px;
    color: black;
}
.text .description{
    font-size: 18px;
    margin-top: 30px;
    text-align: center;
    letter-spacing: 1px;
    color: black;
}